#homepage {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    align-items: center;
}

h1 .lux {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 250px;
    font-weight: 100;
    color: black;
}

h1 .a2 {
  top: 61%;  
  left: 52%;
}

h2 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Satoshi';
    word-spacing: 5px;
    font-size: 25px;
    width: 70%;
    text-align: center;
    word-wrap: normal;
}

#abtme {
    position: absolute;
    top: 80%;
    font-family: 'Satoshi';
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 15px;
    padding-inline: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    border: 1px solid black;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    text-decoration: none;
}

#abtme:hover {
    background: white;
    color: black;
}