/* Main container style */

#project {
    width: 90%;
    margin: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Heading style */

h1 {
    text-transform: uppercase;
    font-family: 'Satoshi';
    font-size: 20px;
}

/* Subheading style */

h2 {
    text-align: center;
    font-family: 'Satoshi';
    font-size: 15px;
    margin-top: 20px;
    font-weight: lighter;
    width: 50%;
}

/* Projects card container style */

#projects {
    margin-top: 40px;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Projects card style */

.project {
    width: 35vh;
    height: 55vh;
    border: 2px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-block: 10px;
}

/* Projects thumbnail style */

.project .thumbnail {
    background-size: cover;
    width: 100%;
    border-bottom: 1px solid black;
    height: 50%;
}

/* Heading style */

.project h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
}

/* Project parahraph style */

.project h3 {
    font-family: 'Satoshi';
    font-weight: 100;
    text-align: center;
    width: 90%;
    margin-top: 5px;
    font-size: 15px;
}

/* Project hyperlink button style */

.project a {
    margin-top: auto;
    margin-bottom: 28px;
    font-family: 'Satoshi';
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 10px;
    padding-inline: 20px;
    font-size: 10px;
    letter-spacing: 2px;
    border: 1px solid black;
    transition: 0.2s;
    text-decoration: none;
}

.project a:hover {
    background: white;
    color: black;
    word-spacing: 2px;
    letter-spacing: 5px;
}