body {
    display: block;
}

h1 {
    margin-top: 220px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Satoshi';
    text-transform: uppercase;
}


p {
    font-family: 'Satoshi';
    color: black;
    width: 100%;
}

.skills-list {
    display: flex;
    margin-inline: auto;
    margin-top: 100px;
    justify-content: space-between;
    padding-inline: 50px;
    width: 95%;
}

.skills-list .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 32%;
    height: 400px;
    transition: 0.5s;
}

.skill:last-of-type {
    border: none;
}

.skill h3 {
    font-size: 40px;
    margin-top: 0;
    width: 70%;
    font-family: 'Satoshi';
    margin-inline: auto;
    text-align: center;
}

.skill p {
    text-align: center;
    margin-inline: auto;
    width: 70%;
}

.vline {
    border: 1px solid black;
    height: 350px;
    margin-block: auto;
}