@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=League+Script&family=Luxurious+Script&family=Oswald:wght@200..700&family=Parisienne&display=swap');

/* global */

body {
    background: white;

}

.navbar {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: auto;
    margin-top: 35px;
    background: none;
    height: fit-content;
    width: 80%;
}

.navbar a {
    color: black;
    font-family: 'Calibri';
    font-size: 20px;
    text-decoration: none;
    margin-inline: auto;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#sitename {
    margin-right: auto;
    cursor: default;
    word-spacing: -8px;
}

.navbar a:hover {
    text-decoration: underline;
}

#sitename:hover {
    text-decoration: none;
}

.line {
    border-bottom: 1px solid black;
    width: 95%;
    margin-inline: auto;
    margin-block: 0;
}

.lux {
    font-family: "Parisienne", cursive;
    font-size: 40px;
    font-weight: 100;
}

/* reference: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */