/* Font import from google font and font files */

/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=League+Script&family=Luxurious+Script&family=Oswald:wght@200..700&family=Parisienne&display=swap');

/* fonts/ folder */

@font-face {
  font-family: 'Satoshi';
  src: url('fonts/Satoshi-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Pencerio Hairline';
  src: url('fonts/Pencerio-Hairline.otf') format('opentype');
}

/* global */

/* global body style */

body {
    display: flex;
    background: white;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* global navbar style */

.navbar {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: auto;
    margin-top: 35px;
    background: none;
    height: fit-content;
    width: 80%;
}

/* global navbar button style */

.navbar a {
    color: black;
    font-family: 'Satoshi';
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-inline: auto;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.navbar a:hover {
    text-decoration: underline;
}

/* navbar site name (portfolio) style */

#sitename:hover {
    text-decoration: none;
}

/* seperator lines style */

.line {
    border-bottom: 1px solid black;
    width: 95%;
    margin-inline: auto;
    margin-block: 0;
}

/* Cursive font applyer style */

.lux {
    font-family: "Pencerio Hairline", cursive;
    font-size: 40px;
    font-weight: 100;
}

#sitename .lux {
    margin-right: auto;
    cursor: default;
    word-spacing: -8px;
    font-size: 25px;
}

/* global footer style */

footer {
    margin-top: auto;
    padding-block: 20px;
    color: white;
    text-align: center;
    font-family: 'Satoshi';
    background-color: black;
}

/* reference: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */