/* global */

body {
    background-color: #AD0021;
}

.navbar {
    position: block;
    display: flex;
    margin: auto;
    border: 3px #930335 solid;
    border-radius: 35px;
    background-color: #ffc0d6;
    height: fit-content;
    width: 90%;
    padding: 10px;
}

.navbar a {
    margin: auto;
    border: 2px #930335 solid;
    border-radius: 25px;
    background-color: #d2044c;
    color: white;
    font-family: 'Calibri';
    font-weight: bold;
    padding-inline: 35px;
    padding-block: 5px;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #ff82ae;
    transition: 0.5s;
}

/* homepage */

#homepage {
    position: block;
    display: grid;
    margin: auto;
    border: 3px #930335 solid;
    background: #d6c7a8;
    border-radius: 35px;
    width: 90%;
    margin-top: 20px;
    padding: 10px;
}

#homepage .description {
    display: flex;
}

.description img {
    margin: auto;
    width: 100px;
    border-radius: 100px;
    border: 2px #930335 solid;
}

.description p {
    width: 25%;
    font-family: 'Calibri';
    font-weight: bold;
    text-align: justify;
    margin-right: 150px;
    height: 150px;
}

p .header {
    font-weight: bolder;
    font-size: 25px;
}

.main {
    display: flex;
    border: 3px #930335 solid;
    width: 55%;
    margin: auto;
    margin-top: 20px;
    height: 550px;
    background: url(media/personal.jpeg);
    background-size: cover;
}

.main .facebook {
    font-family: Calibri;
    color: white;
    text-align: center;
    background: rgba(147, 3, 53, 0.75);
    height: 15%;
    width: 35%;
    border-radius: 10px;
    
}